.gradient-background {
    background: linear-gradient(300deg,#A58E74, wheat, #) ;
    background-size: 140% 140%;
    animation: gradient-animation 18s ease infinite;
    background-color: #A58E74;
    

}

.beautiful-font {
            font-family: 'Brush Script MT', 'Lucida Handwriting', 'Cursive', sans-serif;
}


a:link {
    color: gold;
    background-color: transparent;
    text-decoration: none;
    align-content: center;
    font-family: "Merriweather",serif;;
}

#head{
    align-items: center;
}

    .jumbotron-heading {
               font-family: 'The Aesthetic Essential', sans-serif;
           }

                                 .photo-frame {
                                     width: 60%;
                                     /* Adjust width as needed */
                                     margin: 0 auto;
                                     border: 1px solid #ccc;
                                     padding: 5px;
                                 }
                
                                 .photo-container {
                                     position: relative;
                                     overflow: hidden;
                                 }
                
                                 #photo {
                                     max-width: 100%;
                                     height: auto;
                                     display: block;
                                     margin: 0 auto;
                                 }
        .date-display {
   
                display: flex;
                    justify-content: center;
                    align-items: center;

                    font-family: Arial, sans-serif;
                    background-color: #f8f9fa;
        }
    
        .date-info {
            font-size: 24px;
            margin-bottom: 10px;
        }

                        /* Center the pricing card */
                        .container1 {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 50vh;
                                
                            /* Use full viewport height for vertical centering */
                        }
            
                        .card {
                            width: 400px;
                            height: 330px;
                            /* Adjust the width as needed */
                            text-align: left;
                            /* Align text inside the card to the left */
                            padding: 20px;
                            border: 5px solid black;
                            /* Optional: Add border for clarity */
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                            background-image: url('./code3.webp');
                            /* Optional: Add box shadow for depth */
                            color: wheat;
                            font-size: large;
                                            
                                            }
                                             
                                            
